/*
Theme Name:  Unika
Theme URI: http://underscores.me/
Author: Hudson Carolino
Author URI: http://hudsoncarollino.com.br
Description: Unika.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: Unika
Tags:

--------------------------------------------
ESTRUTURAÇÃO BASE (Hudson Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** ESTILOS GERAIS PARA AS PÁGINAS INTERNAS
**** PÁGINA INICIAL
**** PÁGINAS INTERNAS
**** EXTRAS
**** BOTÕES
**** @MEDIA
*/
*{
	margin: 0;
	padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}

/* TOPO */
	.topo{
		padding: 25px 0 20px;
	}
		.topo .logo{
		
		}
			.topo .logo img{
				width: 100%;
				max-width: 270px;
				margin: 0 auto;
			}
		.topo .navbar{

		}
			.topo .navbar button{
				display: none;
				border: solid 1px #534487;
				margin: 0 10px;
			}
				.topo .navbar button span{
				    background: #534487;
				}
		.topo nav{

		}
			.topo nav ul{
				text-align: right;
			}
				.topo nav ul li{

				}
					.topo nav ul li a{
						background: #e4e4e4;
						color: #000;
						font-size: 14px;
						padding: 10px 20px;
						margin: 5px 5px;
						text-transform: uppercase;
						border-radius: 2px;
					}
						.topo nav ul li a:hover{
							background: #606ec2;
							color: #fff;
						}
					.topo nav ul li a:active{
						background: #e4e4e4;
						color: #000;
					}
					.topo nav ul li a:focus{
						background: #e4e4e4;
						color: #000;
					}
		.navbar-header,.navbar-nav{
			display: block;
			width: 100%;
			float: inherit;
		}
		.navbar-nav>li{
			float: inherit;
			display: inline-block;
		}
					
/* RODAPÉ */
	.rodape{
		background: #5865b2;
		padding-top: 55px;
		padding-top: 50px;
	}
		.rodape .mapaSite{
			padding: 0 5px;
		}
			.rodape .mapaSite strong{
				font-size: 16px;
				display: block;
				text-transform: uppercase;
				margin-bottom: 25px;
				color: #fff;
			}
			.rodape .mapaSite .visible{
				visibility: hidden;
			}
			.rodape .mapaSite a{
				font-size: 14px;
				color: #fff;
				display: block;
				margin-bottom: 20px;
			}
				.rodape .mapaSite a:hover{
					color: #94d60a;
				}
			.rodape .mapaSite select{
				width: 100%;
				max-width: 250px;
				height: 40px;
				border: solid #ecece8 1px;
				border-radius: 5px;
				display: inline-block;
				vertical-align: top;
				background: #626eb6;
				outline: none;
				color:#fff;
				padding:0 10px;
			}
			.rodape .mapaSite small{
				display: block;
				max-width: 250px;
				font-size: 14px;
				margin-top: 25px;
			}
			.rodape .mapaSite .telefones{
			    margin-bottom: 10px;
			}
			.rodape .mapaSite p{
				display: block;
				font-size: 20px;
				color: #fff;
				margin: 0;
			}
				.rodape .mapaSite p i{
					font-size: 25px;
				}
			.rodape .mapaSite span{
				display: block;
				font-size: 14px;
				color: #fff;
			}
			.rodape .iconesRodape{
				border-top: solid 1px #6a7ad7;
				margin-top: 40px;
				padding: 25px 10px 10px;
			}	
				.rodape .logoStardente{
			
				}
					.rodape .logoStardente img{
			
					}
				.rodape .redesocial{
					text-align: right;
				}
				.rodape .redesocial a{
					color: #fff;
					font-size: 40px;
				}

/* COPYRIGHT */
	.copyright{
		background: #fafaf6;
		padding: 20px 0;
	}
		.copyright .col-sm-6{
		
		}
			.copyright p{
				font-size: 14px;
				color: #a4a4a4;
			}
			.copyright span{
				font-size: 14px;
				color: #a4a4a4;
				margin-right:5px;
			}
			.copyright a{
		
			}
				.copyright a img{
		
				}

/* ESTILOS GERAIS */
	section{

	}	
		section h6{
			font-size: 30px;
			color: #747474;
			text-align: center;
			font-weight: 600;

		}
	.pg .areaContato{
		background: #fafaf6;
		border-top: solid 1px #ecece8;
		padding: 20px 10px;
	}
			.pg .areaContato .select{
				width: 100%;
				max-width: 213px;
				height: 40px;
				border: solid #ecece8 1px;
				border-radius: 5px;
				display: inline-block;
				vertical-align: top;
			}
				.pg .areaContato .select select{
					display: block;
					width: 100%;
					height: 40px;	
					background: transparent;
					outline: none;
					padding:0 10px;
					border-radius: 5px;
					color: #929292;
				}
			.pg .areaContato .areaContatoTelefone{
				padding-top: 10px;
				display: none;
				vertical-align: top;
				margin-left:30px;
			}
			.pg .areaContato .areaContatoTelefone a{
				font-size: 20px;
				color: #747474;
				margin-right:20px;
				text-decoration: none;
			}
				.pg .areaContato .areaContatoTelefone a:hover{
					font-weight: bold;
				}
				.pg .areaContato .areaContatoTelefone a i{
					margin-right:4px;
					font-size: 23px;
				}
			.pg .areaContato .areaEndereco{
				width: 100%;
				max-width: 410px;
				display: inline-block;
				text-align: left;
			}
				
				.pg .areaContato .areaEndereco span{
					font-size: 14px;
					color: #747474;
					display: block;
				}
	.pg .sessaoNossasSedes{
			padding-top: 55px;
		}
			.pg .sessaoNossasSedes .nossassedes{
				padding-top: 55px;
			}
				.pg .sessaoNossasSedes .nossassedes .enderecos{
					border-radius: 5px;
					border: solid 1px #ecece8;
					display: block;
					width: 100%;
					max-width:360px;
					margin: 0 auto;
					text-align: center;
				}	
					.pg .sessaoNossasSedes .nossassedes .enderecos .mapa{
						max-width:100%;
						height:240px;
						background: #ecece8;
						border-radius: 5px 5px 0 0;
					}
					.pg .sessaoNossasSedes .nossassedes .enderecos h5{
						color: #606ec2;
						font-size: 22px;
					    margin: 25px 0 20px;
					}
					.pg .sessaoNossasSedes .nossassedes .enderecos p{
						color: #adadad;
						font-size: 20px;
						max-width: 300px;
						margin: 0 auto;
						font-weight: 400;
						margin-bottom: 20px;
					}
					.pg .sessaoNossasSedes .nossassedes .enderecos strong{
						display: block;
						color: #adadad;
						font-size: 20px;
						font-weight: 600;
						margin-bottom: 5px;
					}
						.pg .sessaoNossasSedes .nossassedes .enderecos strong i{
							font-size: 25px;
						}
					.pg .sessaoNossasSedes .nossassedes .enderecos a{
						display: block;
						color: #8ece0a;
						font-size: 16px;
						margin-top: 25px;
						margin-bottom: 25px;

					}
	.pg .areaAgendar{
		background: #8ece0a;
		padding: 50px 10px;
	}
		.pg .areaAgendar .area{

		}
			.pg .areaAgendar .area p{
				color:#fff;
				font-size: 30px;
				font-weight: 100;
			}
			.pg .areaAgendar .area a{
				display: inline-block;
				width: 100%;
				max-width: 245px;
				height: 50px;
				text-align: center;
				background: #fff;
				color: #606ec2;
				text-transform: uppercase;
				font-size: 16px;
				border-radius: 5px;
				font-weight: 600;
				line-height: 50px;
				margin-top: 25px;
				border: solid 1px transparent;
			}
				.pg .areaAgendar .area a:hover{
					border: solid 1px #fff;
					background: transparent;
					color: #fff;
				}
				.pg .areaAgendar .area.segundaopcao p{
				    font-weight: 100;
				    font-size: 29px;
				}
					.pg .areaAgendar .area.segundaopcao p strong{
					    font-weight: 600;
					}	
				.pg .areaAgendar .area.segundaopcao a{
					margin-top: 0;
				}
	.pg .paginador{
		margin-bottom: 50px;
		margin-top: 50px;
	}
		.pg .paginador a{
			display: inline-block;
			color: #606ec2;
			font-size: 16px;
			border: solid 1px #606ec2;
			width: 100%;
			max-width: 264px;
			height: 50px;
			border-radius: 5px;
			background: transparent;
			text-transform: uppercase;
			line-height: 50px;
			text-decoration: none;
			padding: 0 20px;
			transition: All .5s ease;
			-webkit-transition: All .5s ease;
			-moz-transition: All .5s ease;
			-o-transition: All .5s ease;
			text-align: right;
		}
			.pg .paginador  a i{
				margin-top: 10px;
				
				font-size: 30px;
			}
			.pg .paginador .text-right a{
				text-align: left;

			}
			.pg .paginador a:hover{
				color: #fff;
				background: #606ec2;
				transition: All .5s ease;
				-webkit-transition: All .5s ease;
				-moz-transition: All .5s ease;
				-o-transition: All .5s ease;
			}
				.pg .paginador a i{
					float: left;
				}
				.pg .paginador .text-right a i{
					float: right;
				}

/* PÁGINA INICIAL */
	.pg-inicial{

	}
		.pg-inicial .sessaoDestaque{
			margin-bottom: 100px;
		}
			.pg-inicial .sessaoDestaque .item{
				display: block;
				height: 500px;
				width: 100%;
				background-size: cover!important;
				background-position: center!important;
				text-decoration: none;
			}
				.pg-inicial .sessaoDestaque .item .textoDestaque{
					max-width:440px;
					padding: 10px;
					padding-top: 100px;
				}
					.pg-inicial .sessaoDestaque .item .textoDestaque h2{
						margin: 0;
						color: #ffffff;
						font-size: 37px;
						margin-bottom:40px;
					}
					.pg-inicial .sessaoDestaque .item .textoDestaque p{
						margin: 0;
						color: #ffffff;
						font-size: 14px;
						margin-bottom: 40px;
					}
					.pg-inicial .sessaoDestaque .item .textoDestaque span{
						display: block;
						width: 100%;
						max-width: 245px;
						height: 50px;
						text-align: center;
						background: #fff;
						color: #606ec2;
						text-transform: uppercase;
						font-size: 16px;
						border-radius: 5px;
						font-weight: 600;
						line-height: 50px;
					}
		.pg-inicial .sessaoPlanosSaude{
			max-width: 700px;
			margin: 0 auto;
		}
			.pg-inicial .sessaoPlanosSaude #carrosselPlanosSaude{
				margin-top:70px 
			}
				.pg-inicial .sessaoPlanosSaude .item img{
					max-width: 226px;
					margin: 0 auto;
				}
		.pg-inicial .sessaoAgendamento{
			margin-top: 100px;
		}
			.pg-inicial .sessaoAgendamento .formAgendamento{
				width: 100%;
				max-width: 545px;
				min-height: 370px;
				margin: 0 auto;
				text-align: center;
				background: #606ec2;
				padding: 10px;
			}
				.pg-inicial .sessaoAgendamento .formAgendamento .form{
					max-width: 360px;
					margin: 0 auto;
					padding-bottom: 40px;
				}
				.pg-inicial .sessaoAgendamento .formAgendamento p{
					color: #fff;
					font-size: 22px;
					padding-top: 20px;
					padding-bottom: 20px;
					font-weight: 500;
					max-width: 270px;
					margin: 0 auto;
				}
				.pg-inicial .sessaoAgendamento .formAgendamento input{
					display: inline-block;
					width: 100%;
					height: 40px;
					padding: 10px;
					background: #6d7ac7;
					border: solid 1px #a0a8da;
					border-radius: 5px;
					color: #fff;
					font-size: 14px;
					outline: none;
					margin-bottom: 15px;
				}
				.pg-inicial .sessaoAgendamento .formAgendamento input::-webkit-input-placeholder { /* Chrome, Safari, Opera */
					color: #fff;
					font-size: 14px; 
				}

				.pg-inicial .sessaoAgendamento .formAgendamento input:-moz-placeholder { /* Firefox 18- */
					color: #fff;
					font-size: 14px;
				}

				.pg-inicial .sessaoAgendamento .formAgendamento input::-moz-placeholder {  /* Firefox 19+ */
					color: #fff;
					font-size: 14px;
				}

				.pg-inicial .sessaoAgendamento .formAgendamento input:-ms-input-placeholder { /* IE10+ */ 
					color: #fff;
					font-size: 14px;
				}
				.pg-inicial .sessaoAgendamento .formAgendamento select{
					display:block;
					width: 100%;
					max-width: 95%;
					height: 40px;
					padding: 10px;
					background: #6d7ac7;
					border: solid 1px #a0a8da;
					border-radius: 5px;
					color: #fff;
					font-size: 14px;
					outline: none;
					margin-bottom: 15px;
				}
				.pg-inicial .sessaoAgendamento .formAgendamento input[type="submit"]{
					display: block;
					width: 100%;
					max-width: 100%;
					border-color: #fff;
				}
				.pg-inicial .sessaoAgendamento .formAgendamento .enderecosContato{
					display: none;
				}
					.pg-inicial .sessaoAgendamento .formAgendamento .enderecosContato a{
						color: #fff;
						font-size: 18px;
						padding-top: 20px;
						padding-bottom: 20px;
						max-width: 270px;
						margin: 0 auto;
						display: block;
					}
					.pg-inicial .sessaoAgendamento .formAgendamento.formAgendamentoEndereco select{
						max-width: 360px;
						margin: 0 auto;
					}
					.pg-inicial .sessaoAgendamento .formAgendamento .enderecosContato strong{
						color: #fff;
						font-size: 22px;
						font-weight: 500;
					    margin: 0 15px;
					}
						.pg-inicial .sessaoAgendamento .formAgendamento .enderecosContato strong i{
							font-size: 27px;
							font-weight: 100;
						}
					.pg-inicial .sessaoAgendamento .formAgendamento .enderecosContato span{
						font-size: 14px;
						color: #fff;
						text-align: center;
						display: block;
						padding-top: 22px;
						padding-bottom: 11px;
					}
		.pg-inicial .sessaoServicos{
			background: #fafaf6;
			border-top:solid 1px #ecece8;
			padding-top:70px;
			margin-top:100px;
		}
			.pg-inicial .sessaoServicos ul{
				list-style:none;
				padding: 0;
				text-align: center;
				padding-top: 50px;
				padding-bottom: 50px;
			}
				.pg-inicial .sessaoServicos ul li{
					display: inline-block;
					width: 100%;
				    max-width: 250px;
			        margin: 30px 15px;
			        opacity: 0;
				}
					.pg-inicial .sessaoServicos ul li a{
						text-decoration: none;
						display: block;
					}	
						.pg-inicial .sessaoServicos ul li a img{

						}
							.pg-inicial .sessaoServicos ul li:hover img{
								-webkit-animation: swing 1s ease;
								animation: swing 1s ease;
								-webkit-animation-iteration-count: 1;
								animation-iteration-count: 1;
							}
						.pg-inicial .sessaoServicos ul li a h2{
							font-size: 22px;
							color: #747474;

						}
						.pg-inicial .sessaoServicos ul li a p{
							font-size: 14px;
							color: #747474;
						}
		.pg-inicial .sessaoBlog{
			padding-top: 55px;
			padding-bottom: 70px;
			margin-top: 70px;
			background: #fafaf6;
			border-top:solid 1px #ecece8;
			border-bottom:solid 1px #ecece8;
		}
			.pg-inicial .sessaoBlog .blogPost{
				margin-top: 55px;
			}
				.pg-inicial .sessaoBlog .blogPost a{
					display: block;
					height: auto;
					width: 100%;
					max-width:360px;
					margin: 0 auto;
					background: #fff;
					border-radius: 5px;
					border: solid 1px #ecece8;
					text-decoration: none;
					overflow-x: hidden;
				}
					.pg-inicial .sessaoBlog .blogPost a figure{
						border-radius: 5px 5px 0 0;
						display: block;
						width: 100%;
						height:240px;
						background-size: cover!important;
						background-position: center!important;
						transition: All .1s ease;
						-webkit-transition: All .1s ease;
						-moz-transition: All .1s ease;
						-o-transition: All .1s ease;
					}
						.pg-inicial .sessaoBlog .blogPost a:hover figure{
							transition: All .1s ease;
							-webkit-transition: All .1s ease;
							-moz-transition: All .1s ease;
							-o-transition: All .1s ease;
							webkit-transform: scale(1.1);
							transform: scale(1.1);
						}
					.pg-inicial .sessaoBlog .blogPost h2{
						font-size: 22px;
						color: #606ec2;
						display: block;
						max-width: 300px;
						margin: 40px auto 20px;
					}
					.pg-inicial .sessaoBlog .blogPost p{
						font-size: 14px;
						color: #939598;
						display: block;
						max-width: 300px;
						margin: 0 auto 40px;
					}
					.pg-inicial .sessaoBlog .blogPost span{
						color: #8ece0a;
						font-size: 16px;
						display: block;
						max-width: 300px;
						margin: 0 auto 25px;
					}
	
/* PÁGIANA DE TRATAMENTOS */
	.pg-tratamentos{

	}
		.pg-tratamentos .banner{
			width: 100%;
			height: 275px;
			background-position: center!important;
			background-size:cover!important; 
		}
		.pg-tratamentos .tramentos{
			padding-top: 50px;
			max-width: 1030px;
			margin: 0 auto;
		}
			.pg-tratamentos .tramentos aside{
		
			}
				.pg-tratamentos .tramentos aside a{
				text-decoration: none;
				}
				.pg-tratamentos .tramentos aside h3{
					display: block;
					color: #939598;
					font-size: 16px;
					width: 100%;
					max-width: 264px;
					height: 50px;
					border-radius: 5px;
					background: transparent;
					text-transform: uppercase;
					line-height: 50px;
					transition:All .5s ease;
					-webkit-transition:All .5s ease;
					-moz-transition:All .5s ease;
					-o-transition:All .5s ease;
					margin: 0 0 5px;
				}
					.pg-tratamentos .tramentos aside h3:hover{
						color: #fff;
						background: #606ec2;
						padding-left: 15px;
						transition:All .5s ease;
						-webkit-transition:All .5s ease;
						-moz-transition:All .5s ease;
						-o-transition:All .5s ease;
					}
					.pg-tratamentos .tramentos aside .ativo{
						color: #fff;
						background: #606ec2;
						padding-left: 15px;
					}
					.pg-tratamentos .tramentos aside h3 i{
						float: right;
						margin-top: 17px;
						margin-right: 15px;
						opacity: 0;
						transition:All .1s ease;
						-webkit-transition:All .1s ease;
						-moz-transition:All .1s ease;
						-o-transition:All .1s ease;

					}
						.pg-tratamentos .tramentos aside h3:hover i{
							opacity: 1;
							transition:All .1s ease;
							-webkit-transition:All .1s ease;
							-moz-transition:All .1s ease;
							-o-transition:All .1s ease;

						}
						.pg-tratamentos .tramentos aside .ativo i{
							opacity: 1;
						}
			.pg-tratamentos .tramentos article{
				padding:0 10px;
				width: 100%;
				max-width: 740px;
				margin: 0 auto;
				display: block;
				color: #818181;
			}
				.pg-tratamentos .tramentos article h1{
					font-size: 30px;
					color: #747474;
					margin: 0;
				}	
				.pg-tratamentos .tramentos article h2{
					font-size: 22px;
					color: #606ec2;
				}
				.pg-tratamentos .tramentos article h2,h3,h4,h5,h6{
					color: #606ec2;
				}
				.pg-tratamentos .tramentos article p{
					color: #818181;
					font-size: 14px;
					line-height: 25px;
				}
		.pg-tratamentos .galeriaImagens{
			border: solid 1px #ecece8;
			border-radius: 5px;
			padding: 20px;
			margin-top:50px; 
			margin-bottom:50px; 
			position: relative;
		}
			.pg-tratamentos .galeriaImagens figure{
				display: block;
				width: 100%;
				max-width: 150px;
				height:auto;
				padding: 0 5px;
				margin: 0 auto;
			}
				.pg-tratamentos .galeriaImagens figure img{
					display: block;
					width: 100%;
					max-width: 100%;
					height: auto;
				}
		.pg-tratamentos .btnCarrossel{
			

		}
			.pg-tratamentos .btnCarrossel button{
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				z-index: 999;
				background: #fff;
				border: solid 1px #ccc;
				border-radius: 100%;
				width: 30px;
				height: 30px;
				text-align: center;
				line-height: 30px;
				font-size: 20px;
				outline:none;
			}
			.pg-tratamentos .btnCarrossel #carrosselFotosGaleriaRight{
				right: 10px;
			}
			.pg-tratamentos .btnCarrossel #carrosselFotosGaleriaLeft{
				left: 10px;
			}

/* PÁGINA BLOG */
	.pg-blog{

	}
		.pg-blog .sessaoPost{
			padding-top: 50px;
		}
			.pg-blog .sessaoPost a{
				display: block;
				width: 100%;
				max-width: 755px;
				margin: 0 auto;
				text-decoration: none;
				border-bottom: solid 1px #ccc;
				padding-bottom: 30px;
				margin-bottom: 50px;
			}
				.pg-blog .sessaoPost a figure{
					display: block;
					width: 100%;
					height: 272px;
					background-size: cover!important;
					background-position: center!important;
				}	
				.pg-blog .sessaoPost a h2{
					font-size:30px;
					color: #747474;
					margin-top: 55px;
					margin-bottom:17px;
				}
				.pg-blog .sessaoPost a span{
					display: block;
					color: #5865b2;
					font-weight: 500;
					margin-bottom: 25px;
				}
				.pg-blog .sessaoPost a p{
					color: #818181;
					font-size: 14px;
					line-height: 24px;
					font-weight: 500;
					margin-bottom: 30px;
				}
				.pg-blog .sessaoPost a small{
					font-size: 16px;
					color: #8ece0a;
					display: block;
					font-weight: 500;
				}
			.pg-blog .sessaoPost figure{
		
			}
				.pg-blog .sessaoPost article{
		
				}
					.pg-blog .sessaoPost article h6{
		
					}

/* PÁGINA DE CONTATO */
	.pg-contato{
		
	}
		.background{
			background: #fafaf6;
			padding-bottom: 50px;
			margin-top: 50px;
		}
		.pg-contato .sessaoContato{
		
		}
			.pg-contato .sessaoContato .form{
				width: 100%;
				max-width: 755px;
				margin: 0 auto;
				padding-top: 50px;
			}
				.pg-contato .sessaoContato .form .left{
					padding-right: 10px;
				}
				.pg-contato .sessaoContato .form .right{
					padding-left: 10px;
				}
				.pg-contato .sessaoContato .form input{
					display: block;
					width: 100%;
					height: 40px;
					padding: 10px;
					border-radius: 5px;
					border: solid 1px #ecece8;
					font-size: 14px;
					color: #d3d3d3;
					outline: none;
					margin-bottom: 15px;
				}
					.pg-contato .sessaoContato .form input::-webkit-input-placeholder { /* Chrome, Safari, Opera */
						color: #d3d3d3;
						font-size: 14px; 
					}

					.pg-contato .sessaoContato .form input:-moz-placeholder { /* Firefox 18- */
						color: #d3d3d3;
						font-size: 14px;
					}

					.pg-contato .sessaoContato .form input::-moz-placeholder {  /* Firefox 19+ */
						color: #d3d3d3;
						font-size: 14px;
					}

					.pg-contato .sessaoContato .form input:-ms-input-placeholder { /* IE10+ */ 
						color: #d3d3d3;
						font-size: 14px;
					}
				.pg-contato .sessaoContato .form select{
					display: block;
					width: 100%;
					height: 40px;
					padding: 10px;
					border-radius: 5px;
					border: solid 1px #ecece8;
					font-size: 14px;
					color: #9d9d9d;
					outline: none;
					margin-bottom: 15px;
				}
				.pg-contato .sessaoContato .form textarea{
					display: block;
					width: 100%;
					max-width: 100%;
					height: 210px;
					min-height: 210px;
					max-height: 210px;
					padding: 10px;
					border-radius: 5px;
					border: solid 1px #ecece8;
					font-size: 14px;
					color: #9d9d9d;
					outline: none;
					margin-bottom: 15px;
				}

					.pg-contato .sessaoContato .form textarea::-webkit-input-placeholder { /* Chrome, Safari, Opera */
						color: #d3d3d3;
						font-size: 14px; 
					}

					.pg-contato .sessaoContato .form textarea:-moz-placeholder { /* Firefox 18- */
						color: #d3d3d3;
						font-size: 14px;
					}

					.pg-contato .sessaoContato .form textarea::-moz-placeholder {  /* Firefox 19+ */
						color: #d3d3d3;
						font-size: 14px;
					}

					.pg-contato .sessaoContato .form textarea:-ms-input-placeholder { /* IE10+ */ 
						color: #d3d3d3;
						font-size: 14px;
					}
				.pg-contato .sessaoContato .form input[type="submit"]{
					background: #606ec2;
					color: #fff;
					text-transform: uppercase;
					max-width: 110px;
					text-align: center;
				}

/* EXTRAS */
	
/* @MEDIA */
	@media (max-width: 1200px) {
		.container{
			width: 100%;
			padding:0 10px;	
		}
		.pg .areaContato .areaContatoTelefone a{
			font-size: 17px;
		}
		.pg-inicial .sessaoAgendamento .col-sm-6{
			padding: 0 10px;
		}
		.pg .sessaoNossasSedes .nossassedes .col-sm-4{
			padding: 0 10px;
		}
		.pg-inicial .sessaoBlog .blogPost .col-sm-4{
			padding: 0 10px;
		}
	}
	@media (max-width: 991px){
		.pg .areaContato .areaContatoTelefone{
			margin: 0;
		}
		.pg .areaAgendar .area p{
			font-size: 25px;
		}
		.pg-inicial .sessaoBlog .blogPost a h2,.pg-inicial .sessaoBlog .blogPost a p,.pg-inicial .sessaoBlog .blogPost span{
			padding: 0 10px;
		}

	}
	@media (max-width: 767px){
		.topo .navbar button{
			display: block;
		}
		.topo nav ul li{
			display: block;
			text-align: left;
		}
		.topo{
			padding-bottom: 0;
		}
		.topo .navbar{
			margin: 0;
		}
		.pg .areaContato{
			display: none;
		}
		.pg-inicial .sessaoDestaque .item{
			height: 320px;
		}
		.pg-inicial .sessaoDestaque .item .textoDestaque{
			padding-top: 40px;
		}
		.pg-inicial .sessaoDestaque .item .textoDestaque h2{
			font-size: 25px;
		}
		.pg-inicial .sessaoAgendamento .formAgendamento{
			max-width: 100%;
			margin: 10px 0;
		}
		.pg-inicial .sessaoAgendamento .formAgendamento select{
			max-width: 100%;
		}
		.pg .areaAgendar .area p{
			text-align: center;
		}
		.pg .areaAgendar .area{
			text-align: center!important;
		}
		.pg .sessaoNossasSedes .nossassedes .enderecos{
			max-width: 100%;
			margin: 10px 0;
		}
		.pg-inicial .sessaoBlog .blogPost a{
			margin: 20px auto;
		}
		.rodape .mapaSite{
			text-align: center;
		}
		.rodape .mapaSite small{
			max-width: 100%;
		}
		.copyright .col-sm-6,.rodape .redesocial{
			text-align: left!important;
		}
		.pg .areaAgendar .area.segundaopcao p{
			font-size: 25px;
		}
		.pg-inicial .sessaoAgendamento .col-sm-6,.container{
			padding: 0;
		}
		.copyright,.pg-blog .sessaoPost a{
			padding: 10px;
		}
		.copyright, .pg-blog .sessaoPost a{
			text-align: center;
		}
		.pg-blog .sessaoPost a h2{
			font-size: 25px;
		}
		.pg-tratamentos .tramentos aside{
			text-align: center;
			height: 190px;
			overflow-y: scroll;
			border-bottom: solid 1px #ccc;
			padding-top: 20px;
		}
		.pg-tratamentos .tramentos aside::-webkit-scrollbar{
			background:#fff;width:4px;
		}
		.pg-tratamentos .tramentos aside::-webkit-scrollbar-thumb{
			background:#666;
			-webkit-border-radius:2px;
		}
		.pg-tratamentos .tramentos{
			padding: 0;
		}
		 .pg-tratamentos .tramentos aside h3{
		    margin: 0 auto 5px;
		    max-width: 90%;
		}
		/*
		.pg-tratamentos .tramentos aside  i{
			display: none;
		}
		.pg-tratamentos .tramentos aside .ativo{
			padding-left: 50px;
		}
		.pg-tratamentos .tramentos aside h3:hover{
			padding-left: 50px;
		} */
		.pg .paginador a{
			font-size: 14px;
		}
		.pg-tratamentos .tramentos article h1{
			text-align: center;
			margin: 35px 0;
		}
		.pg-contato .sessaoContato{
			padding: 10px;
		}
		.pg-contato .sessaoContato .form .right,.pg-contato .sessaoContato .form .left{
			padding: 0;
		}

	}
	
