/*
Theme Name:  Unika
Theme URI: http://underscores.me/
Author: Hudson Carolino
Author URI: http://hudsoncarollino.com.br
Description: Unika.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: Unika
Tags:

--------------------------------------------
ESTRUTURAÇÃO BASE (Hudson Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** ESTILOS GERAIS PARA AS PÁGINAS INTERNAS
**** PÁGINA INICIAL
**** PÁGINAS INTERNAS
**** EXTRAS
**** BOTÕES
**** @MEDIA
*/
*{
	margin: 0;
	padding: 0;
}
body{
   font-family: 'open_sansregular';
    overflow-x: hidden;
}
body.scrollStop{
	overflow: hidden;
}

/* TOPO */
	.topo{
		padding: 25px 0 20px;
	}
		.topo .logo{
		
		}
			.topo .logo img{
				width: 100%;
				max-width: 270px;
				margin: 0 auto;
			}
		.navbar{

		}
			.navbar button{
				display: none;
				border: solid 1px #534487;
				margin: 0 10px;
			}
				.navbar button span{
				    background: #534487;
				}
		nav{

		}
			nav ul{
				text-align: right;
			}
				nav ul li{

				}
					nav ul li a{
						background: #e4e4e4;
						color: #5c479c;
						font-size: 14px;
						padding: 10px 20px;
						margin: 5px 5px;
						text-transform: uppercase;
						border-radius: 2px;
						font-family: 'open_sansregular';
					}
						nav ul li a:hover{
							background: #606ec2;
							color: #fff;
						}
					nav ul li a:active{
						background: #e4e4e4;
						color: #000;
					}
					nav ul li a:focus{
						background: #e4e4e4;
						color: #000;
					}
				.menuModile{
					display: block;
				    position: fixed;
				    height: 100vh;
				    background: #fff;
				    z-index: 9999;
				    width: 100%;
				    left: -110%;
				    transition: All .5s ease;
				    -webkit-transition: All .5s ease;
				    -moz-transition: All .5s ease;
				    -o-transition: All .5s ease;
				}
				.menuModile> button{
					display: block;
					content: "X";
					text-align: center;
					border-radius: 100%;
					border: solid 2px #606ec2;
					width: 40px;
					height: 40px;
					margin: 0 auto;
					font-size: 25px;
					font-weight: 700;
					color: #606ec2;
					margin-top: 20px;
					outline: none;
					background: transparent;


				}
				.menuModile.openMenu{
					left: 0%;
					transition: All .5s ease;
					-webkit-transition: All .5s ease;
					-moz-transition: All .5s ease;
					-o-transition: All .5s ease;
				}
				.menuModile .navbar-nav>li {
				    float: inherit;
				    display: block;
				    width: 100%;
				    text-align: left;
				    position: relative;
				}
				
				.navbar-nav>li>ul{
					display:none;
					position: absolute;
					top: 50px;
					width: 239px;
					text-align: left;
					background: #e4e4e4;
					left: 5px
				}
				.navbar-nav>li:hover ul{
					display: block;
				}
					.navbar-nav>li>ul li a{
					    margin: 0px 5px;
					    padding: 5px!important;
					    display: block;
					    min-width: 234px;
					    
					}
		.navbar-header,.navbar-nav{
			display: block;
			width: 100%;
			float: inherit;
			position: relative;
			z-index: 9;
		}
		.navbar-nav>li{
			float: inherit;
			display: inline-block;
		}
					
/* RODAPÉ */
	.rodape{
		background: #5865b2;
		padding-top: 55px;
		padding-top: 50px;
		font-family: 'open_sansregular';
	}
		.displayNone{
			display: none;
		}
		.rodape .mapaSite{
			padding: 0 5px;
		}
		.rodape .mapaSite.termos{
			
		}
		.rodape .mapaSite.termos span{
		   padding-bottom: 120px;
	       max-width: 200px;
		}
		.rodape .mapaSite.termos span a{
	    	margin-bottom: 3px;
		}
			.rodape .mapaSite strong{
				font-size: 16px;
				display: block;
				text-transform: uppercase;
				margin-bottom: 25px;
				color: #fff;
			}
			.rodape .mapaSite .visible{
				opacity: 0;
			}
			.rodape .mapaSite a{
				font-size: 14px;
				color: #fff;
				display: block;
				margin-bottom: 10px;
			}
				.rodape .mapaSite a:hover{
					color: #94d60a;
				}
			.rodape .mapaSite select{
				width: 100%;
				max-width: 250px;
				height: 40px;
				border: solid #ecece8 1px;
				border-radius: 5px;
				display: inline-block;
				vertical-align: top;
				background: #626eb6;
				outline: none;
				color:#fff;
				padding:0 10px;
			}
			.rodape .mapaSite small{
				display: block;
				max-width: 250px;
				font-size: 14px;
				margin-top: 25px;
			}
			.rodape .mapaSite .telefones{
			    margin-bottom: 10px;
			}
			.rodape .mapaSite p{
				display: block;
				font-size: 20px;
				color: #fff;
				margin: 0;
			}
				.rodape .mapaSite p i{
					font-size: 25px;
				}
			.rodape .mapaSite span{
				display: block;
				font-size: 14px;
				color: #fff;
			}
			.rodape .iconesRodape{
				border-top: solid 1px #6a7ad7;
				margin-top: 40px;
				padding: 25px 10px 10px;
			}	
				.rodape .logoStardente{
			
				}
					.rodape .logoStardente img{
			
					}
				.rodape .redesocial{
					text-align: right;
				}
				.rodape .redesocial a{
					color: #fff;
					font-size: 40px;
				}

/* COPYRIGHT */
	.copyright{
		background: #fafaf6;
		padding: 20px 0;
		font-family: 'open_sansregular';
	}
		.copyright .col-sm-6{
		
		}
			.copyright p{
				font-size: 14px;
				color: #a4a4a4;
			}
			.copyright span{
				font-size: 14px;
				color: #a4a4a4;
				margin-right:5px;
			}
			.copyright a{
		
			}
				.copyright a img{
		
				}
	.pg .paginadorLink{
		padding: 10px;
		max-width: 1155px;
		margin: 30px auto 20px;
	}
		.pg .paginadorLink a{
			color: #606ec2;
			font-size: 14px;
			display: inline-block;
			margin-right: 20px;
		}
			.pg .paginadorLink a i{
				width: 28px;
				height: 28px;
				border-radius: 100%;
				border: solid 1px #646464;
				text-align: center;
				color: #646464;
				line-height: 24px;
				font-size: 20px;
				margin-right: 5px;
			}
		.pg .paginadorLink p{
			display: inline-block;
		}
			.pg .paginadorLink p a{
				font-size: 14px;
				color: #606ec2;
				margin: 0;
			}

/* ESTILOS GERAIS */
	section{

	}	
		section h6{
			font-size: 30px;
			color: #747474;
			text-align: center;
			font-weight: 600;

		}
		section>h1{
			font-size: 30px;
			color: #747474;
			text-align: center;
			font-weight: 600;

		}
		section>h2{
			font-size: 30px;
			color: #747474;
			text-align: center;
			font-weight: 600;

		}
		section>article{
			color: #939598;
			font-size: 15px;
		    max-width: 700px;
			line-height: 28px;
			margin:0 auto;
			text-align: center;
			font-family: 'open_sansregular';

		}
	.pg .areaContato{
		background: #fafaf6;
		border-top: solid 1px #ecece8;
		padding: 20px 10px;
		height: 87px;
		overflow: hidden;
	}
			.pg .areaContato .select{
				width: 100%;
				max-width: 213px;
				height: 40px;
				border: solid #ecece8 1px;
				border-radius: 5px;
				display: inline-block;
				vertical-align: top;
			}
				.pg .areaContato .select select{
					display: block;
					width: 100%;
					height: 40px;	
					background: #fff;
					outline: none;
					padding:0 10px;
					border-radius: 5px;
					color: #929292;
				    font-family: 'open_sansregular';
				}
			.pg .areaContato .areaContatoTelefone{
				padding-top: 10px;
				display: none;
				vertical-align: top;
				margin-left:30px;
			}
			.pg .areaContato .areaContatoTelefone a{
				font-size: 20px;
				color: #747474;
				margin-right:20px;
				text-decoration: none;
			    font-family: 'open_sansregular';
			}
				.pg .areaContato .areaContatoTelefone a:hover{
					font-weight: bold;
				}
				.pg .areaContato .areaContatoTelefone a i{
					margin-right:4px;
					font-size: 23px;
				}
			.pg .areaContato .areaEndereco{
				width: 100%;
				max-width: 410px;
				display: inline-block;
				text-align: left;
				height: 35px;
				overflow: hidden;
			}
				
				.pg .areaContato .areaEndereco span{
					font-size: 14px;
					color: #747474;
					display: block;
				    font-family: 'open_sansregular';
				}
	.pg .sessaoNossasSedes{
			padding-top: 55px;
		}
			.pg .sessaoNossasSedes .nossassedes{
				padding-top: 55px;
			}
				.pg .sessaoNossasSedes .nossassedes .enderecos{
					border-radius: 5px;
					border: solid 1px #ecece8;
					display: block;
					width: 100%;
					max-width:360px;
					margin: 0 auto;
					text-align: center;
				}	
					.pg .sessaoNossasSedes .nossassedes .enderecos .mapa{
						max-width:100%;
						height:240px;
						background: #ecece8;
						border-radius: 5px 5px 0 0;
					}
					.pg .sessaoNossasSedes .nossassedes .enderecos .mapa iframe{
						border: 0;
						width: 100%;
						display: block;
						height: 240px;
					}
					.pg .sessaoNossasSedes .nossassedes .enderecos h5{
						color: #606ec2;
						font-size: 22px;
					    margin: 25px 0 20px;
					    font-family: 'open_sansregular';
					}
					.pg .sessaoNossasSedes .nossassedes .enderecos p{
						color: #adadad;
						font-size: 20px;
						max-width: 300px;
						margin: 0 auto;
						font-weight: 400;
						margin-bottom: 20px;
						font-family: 'open_sansregular';
					}
					.pg .sessaoNossasSedes .nossassedes .enderecos strong{
						display: block;
						color: #adadad;
						font-size: 20px;
						font-weight: 600;
						margin-bottom: 5px;
						font-family: 'open_sanslight';
					}
						.pg .sessaoNossasSedes .nossassedes .enderecos strong i{
							font-size: 25px;
						}
					.pg .sessaoNossasSedes .nossassedes .enderecos a{
						display: block;
						color: #8ece0a;
						font-size: 16px;
						font-family: 'open_sanslight';
						margin-top: 25px;
						margin-bottom: 25px;

					}
	.pg .areaAgendar{
		background: #606ec2;
		padding: 50px 10px;
	}
		.pg .areaAgendar .area{

		}
			.pg .areaAgendar .area p{
				color:#fff;
				font-size: 30px;
				font-weight: 100;
				font-family: 'open_sanslight';
			}
			.pg .areaAgendar .area a{
				display: inline-block;
				width: 100%;
				background: #94d60a;
				text-align: center;
				color: #fff;
				font-size: 19px;
				border-radius: 5px;
				font-weight: 700;
				line-height: 50px;
				margin-top: 25px;
				border: solid 1px transparent;
			}
				.pg .areaAgendar .area a:hover{
					border: solid 1px #fff;
					background: transparent;
					color: #fff;
				}
				.pg .areaAgendar .area.segundaopcao p{
				    font-weight: 100;
				    font-size: 29px;
				}
					.pg .areaAgendar .area.segundaopcao p strong{
					    font-weight: 600;
					}	
				.pg .areaAgendar .area.segundaopcao a{
					margin-top: 0;
				}
	.pg .paginador{
		margin-bottom: 50px;
		margin-top: 50px;
	}
		.pg .paginador a{
			display: inline-block;
			color: #606ec2;
			font-size: 16px;
			border: solid 1px #606ec2;
			width: 100%;
			max-width: 264px;
			height: 50px;
			border-radius: 5px;
			background: transparent;
			text-transform: uppercase;
			line-height: 50px;
			text-decoration: none;
			padding: 0 20px;
			transition: All .5s ease;
			-webkit-transition: All .5s ease;
			-moz-transition: All .5s ease;
			-o-transition: All .5s ease;
			text-align: right;
			overflow: hidden;
		}
			.pg .paginador  a i{
				margin-top: 10px;
				
				font-size: 30px;
			}
			.pg .paginador .text-right a{
				text-align: left;

			}
			.pg .paginador a:hover{
				color: #fff;
				background: #606ec2;
				transition: All .5s ease;
				-webkit-transition: All .5s ease;
				-moz-transition: All .5s ease;
				-o-transition: All .5s ease;
			}
				.pg .paginador a i{
					float: left;
				}
				.pg .paginador .text-right a i{
					float: right;
				}
		.paginadorPage{
			display: block;
			text-align: center;
			min-height: 70px;
		}
			.paginadorPage a{
				padding: 5px 15px;
				background: transparent;
				color: #5865b2;
				font-size: 27px;
				border-radius: 5px;
				border: solid 1px #5865b2;
				margin: 0 5px;
			    padding: 2px 13px;
			    text-decoration: none;
			}
				.paginadorPage a:hover{
					background: #5865b2;
					color: #fff;
				}

/* PÁGINA INICIAL */
	.pg-inicial{
		
	}
		.pg-inicial .sessaoDestaque{
			margin-bottom: 50px;
			position: relative;
		}
			.pg-inicial .sessaoDestaque .item{
				display: block;
				height: 500px;
				width: 100%;
				background-size: cover!important;
				background-position: center!important;
				text-decoration: none;
				position: relative;
			}
			.pg-inicial .sessaoDestaque .item:before{
				content: "";
				display: block;
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, 0.16);
				position: absolute;
				top: 0;
				left: 0;
				transition:All .1s ease;
				-webkit-transition:All .1s ease;
				-moz-transition:All .1s ease;
				-o-transition:All .1s ease;
			}
			.pg-inicial .sessaoDestaque .item:hover:before{
				background: rgba(0, 0, 0, 0.28);
				transition:All .1s ease;
				-webkit-transition:All .1s ease;
				-moz-transition:All .1s ease;
				-o-transition:All .1s ease;
			}
				.pg-inicial .sessaoDestaque .item .textoDestaque{
					max-width:440px;
					padding: 10px;
					padding-top: 100px;
					position: relative;
				}
					.pg-inicial .sessaoDestaque .item .textoDestaque h2{
						margin: 0;
						color: #ffffff;
						font-size: 37px;
						margin-bottom:40px;
					}
					.pg-inicial .sessaoDestaque .item .textoDestaque p{
						margin: 0;
						color: #ffffff;
						font-size: 14px;
						margin-bottom: 40px;
					    font-family: 'open_sansregular';
					}
					.pg-inicial .sessaoDestaque .item .textoDestaque span{
						display: block;
						width: 100%;
						max-width: 245px;
						height: 50px;
						text-align: center;
						background: #fff;
						color: #606ec2;
						text-transform: uppercase;
						font-size: 16px;
						border-radius: 5px;
						font-weight: 600;
						line-height: 50px;
					}
		 .pg-inicial .sessaoDestaque .owl-dots {
	        background: #606ec2;
	        text-align: center;
	        padding: 10px 0;
	        -webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
	        -moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
	        box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
      	}
		      .pg-inicial .sessaoDestaque .owl-dot{
		        display: inline;
		      }
		      .pg-inicial .sessaoDestaque .owl-dot span{
		        display: inline-block;
		        width: 13px;
		        height: 13px;
		        margin: 6px 7px;
		        border: 1px solid transparent;
		        border-radius: 20px;
		        background: #fff;
		      }
		      .pg-inicial .sessaoDestaque .owl-dot.active span{
		        background:#94d60a;
		      }
		    
        .pg-inicial .carrosselDestaque .btnCarrossel{

        }
	        .pg-inicial .btnCarrossel button{
				background-position: center!important;
				background-size: cover!important;
				border: none;
				height: 80px;
				width: 80px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				position: absolute;
				background-position: center!important;
				background-size: cover!important;
				border: none;
				z-index: 9;
				outline: none;
	        }
	        	 .btnCarrossel #btnLeft{
					background: url("img/left-arrow.png");
					left: 20px;
					
	        	}
	        	 .btnCarrossel #btnRight{
					background: url("img/right-arrow.png");
					right: 20px;
	        	}
	        	.btnCarrossel #btnLeftCarrosselServicos{
					background: url("img/left-arrow.png");
					left: 20px;
					
	        	}
	        	 .btnCarrossel #btnRightCarrosselServicos{
					background: url("img/right-arrow.png");
					right: 20px;
	        	}
		.pg .sessaoPlanosSaude{
			margin: 0 auto;
		}
			.pg .sessaoPlanosSaude #carrosselPlanosSaude{
				margin-top:70px 
			}
				.areaPlanosOdontologicos{
					max-width: 875px;
					margin: 60px auto 0;
				}
				.logosAtendimento{
					text-align: right;
				}
				.pg .sessaoPlanosSaude .tituloPlanos p{
					color: #747474;
					font-size: 30px;
					font-weight: 600;
				}
				.pg .sessaoPlanosSaude .item img{
					max-width: 145px;
					margin: 0 auto;
				}
				.pg .sessaoPlanosSaude .item{
				    display: inline-block;
				}
		.pg-inicial .sessaoAgendamento{
		    margin-top: 60px;
		}
			.pg-inicial .sessaoAgendamento .formAgendamento{
				width: 100%;
				max-width: 860px;
				min-height: 370px;
				margin: 0 auto;
				text-align: center;
				background: #606ec2;
			    padding: 40px 10px 20px;			
			}
				.pg-inicial .sessaoAgendamento .formAgendamento .form{
					max-width: 680px;
					margin: 0 auto;
				}
					.pg-inicial .sessaoAgendamento .formAgendamento .form p{
						max-width: 100%;
						margin: 0;
						padding: 0;
					}
					.pg-inicial .sessaoAgendamento .wpcf7-validation-errors{
						color: #fff;
						margin: 0;
					}
					.pg-inicial .wpcf7-not-valid-tip{
						color: #ff4b4b;
						font-size: 15px;
					}
				.pg-inicial .sessaoAgendamento .formAgendamento p{
					color: #fff;
					font-size: 30px;
					padding-top: 20px;
					padding-bottom: 20px;
					font-weight: 500;
					margin: 0 auto;
				}
				.pg-inicial .sessaoAgendamento .formAgendamento input{
					display:block;
					width: 95%;
					height: 40px;
					padding: 10px;
					background: #6d7ac7;
					border: solid 1px #a0a8da;
					border-radius: 5px;
					color: #fff;
					font-size: 14px;
					outline: none;
					margin-bottom: 15px;
					font-family: 'open_sansregular';
				}
				.pg-inicial .sessaoAgendamento .formAgendamento input::-webkit-input-placeholder { /* Chrome, Safari, Opera */
					color: #fff;
					font-size: 14px; 
				}

				.pg-inicial .sessaoAgendamento .formAgendamento input:-moz-placeholder { /* Firefox 18- */
					color: #fff;
					font-size: 14px;
				}

				.pg-inicial .sessaoAgendamento .formAgendamento input::-moz-placeholder {  /* Firefox 19+ */
					color: #fff;
					font-size: 14px;
				}

				.pg-inicial .sessaoAgendamento .formAgendamento input:-ms-input-placeholder { /* IE10+ */ 
					color: #fff;
					font-size: 14px;
				}
				.pg-inicial .sessaoAgendamento .formAgendamento select{
					display:block;
					width: 100%;
					max-width: 95%;
					height: 40px;
					padding: 10px;
					background: #6d7ac7;
					border: solid 1px #a0a8da;
					border-radius: 5px;
					color: #fff;
					font-size: 14px;
					outline: none;
					margin-bottom: 15px;
					font-family: 'open_sansregular';
				}
				.pg-inicial .sessaoAgendamento .formAgendamento label{
					color: #fff;
					font-weight: 400;
					text-align: left;
					display: inline-block;
					padding-top: 10px;
					font-family: 'open_sansregular';
				}
				.pg-inicial .sessaoAgendamento .formAgendamento input[type="checkbox"]{
					display: inline-block;
					width: 100%;
					max-width: 20px;
					padding: 0;
					margin: 0;
					height: 20px;
					position: relative;
					z-index: 9;
					opacity: 1;
					margin-right: 5px;
					font-family: 'open_sansregular';
				}
				.pg-inicial .sessaoAgendamento .formAgendamento input[type="submit"]{
					display: block;
					width: 100%;
					max-width: 365px;
					margin: 0 auto;
					background: #94d60a;
					font-weight: 600;
					font-size: 23px;
					height: auto;
					padding: 15px;
					margin-top: 20px;
					font-family: 'open_sansregular';
				}
				
				.pg-inicial .sessaoAgendamento .formAgendamento .areaCheckbox{
					padding-top: 10px;
				}
					.pg-inicial .sessaoAgendamento .formAgendamento .areaCheckbox span.wpcf7-list-item{
						display: inline-block;
						margin: 0;
						width: 50%;
						vertical-align: top;
					    position: relative;
					}
					.pg-inicial .sessaoAgendamento .formAgendamento .areaCheckbox .wpcf7-list-item-label{
						display: inline-block;
					    vertical-align: top;
				    	color: #fff;
					}
					.pg-inicial .sessaoAgendamento .formAgendamento .areaCheckbox span.wpcf7-list-item-label::before{
						display: block;
						width: 21px;
						height: 21px;
						background: url(img/check.png);
						background-repeat: no-repeat!important;
						background-position: center!important;
						position: absolute;
					    left: 8px;
					}
					.pg-inicial .sessaoAgendamento .formAgendamento input[type="checkbox"]:checked  ~ span.wpcf7-list-item-label::before{
						background: url(img/checkado.png);
					}
					
				.pg-inicial .sessaoAgendamento .formAgendamento .enderecosContato{
					display: none;
				}
					.pg-inicial .sessaoAgendamento .formAgendamento .enderecosContato a{
						color: #fff;
						font-size: 18px;
						padding-top: 20px;
						padding-bottom: 20px;
						max-width: 270px;
						margin: 0 auto;
						display: block;
					}
					.pg-inicial .sessaoAgendamento .formAgendamento.formAgendamentoEndereco select{
						max-width: 360px;
						margin: 0 auto;
					}
					.pg-inicial .sessaoAgendamento .formAgendamento .enderecosContato strong{
						color: #fff;
						font-size: 22px;
						font-weight: 500;
					    margin: 0 15px;
					}
						.pg-inicial .sessaoAgendamento .formAgendamento .enderecosContato strong i{
							font-size: 27px;
							font-weight: 100;
						}
					.pg-inicial .sessaoAgendamento .formAgendamento .enderecosContato span{
						font-size: 14px;
						color: #fff;
						text-align: center;
						display: block;
						padding-top: 22px;
						padding-bottom: 11px;
					}
		.pg-inicial .sessaoServicos{
			background: #fafaf6;
			border-top:solid 1px #ecece8;
			padding-top:70px;
			margin-top:100px;
			position: relative;
		}
			.pg-inicial .sessaoServicos .carroselServicos{
				list-style:none;
				padding: 0;
				text-align: center;
				padding-top: 50px;
				padding-bottom: 50px;
			}
				.pg-inicial .sessaoServicos .carroselServicos div.areaServico{
					display: inline-block;
					width: 100%;
				    max-width: 250px;
			        margin: 30px 15px;
			        opacity: 1;
			        vertical-align: top;
				}
					.pg-inicial .sessaoServicos .carroselServicos div.areaServico a{
						text-decoration: none;
						display: block;
					}	
						.pg-inicial .sessaoServicos .carroselServicos div.areaServico a img{
					    	max-width: 65px;
					    	margin: 0 auto;
						}
							.pg-inicial .sessaoServicos .carroselServicos div.areaServico:hover img{
								-webkit-animation: swing 1s ease;
								animation: swing 1s ease;
								-webkit-animation-iteration-count: 1;
								animation-iteration-count: 1;
							}
						.pg-inicial .sessaoServicos .carroselServicos div.areaServico a h2{
							font-size: 22px;
							color: #747474;

						}
						.pg-inicial .sessaoServicos .carroselServicos div.areaServico a p{
							font-size: 14px;
							color: #747474;
							font-family: 'open_sansregular';
						}
		.pg-inicial .sessaoBlog{
			padding-top: 55px;
			padding-bottom: 70px;
			margin-top: 70px;
			background: #fafaf6;
			border-top:solid 1px transparent;
			border-bottom:solid 1px #ecece8;
		}
			.pg-inicial .sessaoBlog .blogPost{
				margin-top: 55px;
			}
				.pg-inicial .sessaoBlog .blogPost a{
					display: block;
					height: auto;
					width: 100%;
					max-width:360px;
					margin: 0 auto;
					background: #fff;
					border-radius: 5px;
					border: solid 1px #ecece8;
					text-decoration: none;
					overflow-x: hidden;
				}
					.pg-inicial .sessaoBlog .blogPost a figure{
						border-radius: 5px 5px 0 0;
						display: block;
						width: 100%;
						height:240px;
						background-size: cover!important;
						background-position: center!important;
						transition: All .1s ease;
						-webkit-transition: All .1s ease;
						-moz-transition: All .1s ease;
						-o-transition: All .1s ease;
					}
						.pg-inicial .sessaoBlog .blogPost a:hover figure{
							transition: All .1s ease;
							-webkit-transition: All .1s ease;
							-moz-transition: All .1s ease;
							-o-transition: All .1s ease;
							webkit-transform: scale(1.1);
							transform: scale(1.1);
						}
					.pg-inicial .sessaoBlog .blogPost h2{
						font-size: 22px;
						color: #606ec2;
						display: block;
						max-width: 300px;
						margin: 40px auto 20px;
						min-height: 50px;
					}
					.pg-inicial .sessaoBlog .blogPost h3{
						font-size: 22px;
						color: #606ec2;
						display: block;
						max-width: 300px;
						margin: 40px auto 20px;
						min-height: 50px;
						padding: 0 10px;
						font-family: 'open_sansregular';
					}
					.pg-inicial .sessaoBlog .blogPost p{
						font-size: 14px;
						color: #939598;
						display: block;
						max-width: 300px;
						margin: 0 auto 40px;
						font-family: 'open_sansregular';
					}
					.pg-inicial .sessaoBlog .blogPost span{
						color: #8ece0a;
						font-size: 16px;
						display: block;
						max-width: 300px;
						margin: 0 auto 25px;
						font-family: 'open_sansregular';
					}
	
/* QUEM SOMOS */
	.pg-empresa .areaEspecialista{
			margin-bottom: 100px;
			margin-top: 100px;
		}	
			.pg-empresa .areaEspecialista h6{

			}	
				.pg-empresa .areaEspecialista p{

				}	
				.pg-empresa .areaEspecialista{
					margin-top: 40px;
				}
					.pg-empresa .areaEspecialista .item{
						display:block;
						display: block;
						width: 100%;
						text-align: center;
						margin-top: 60px;
					}	
						.pg-empresa .areaEspecialista .item figure{
							border-radius: 100%;
							display: block;
							width: 150px;
							background-position: center!important;
							background-size: cover!important;
							height: 150px;
							margin: 0 auto;
							border: solid 1px #ccc;
						}	
							.pg-empresa .areaEspecialista .item:hover figure{
								-w-webkit-animation: pulse 1s ease;
								animation: pulse 1s ease;
								-webkit-animation-iteration-count: 1;
								animation-iteration-count: 1;

							}
						.pg-empresa .areaEspecialista .item h3{
							font-size: 18px;
							margin-top: 28px;
							color: #263980;
							margin: 20px 0 10px;
						}	
						.pg-empresa .areaEspecialista .item p{
							color: #9ba3a7;
							margin: 0;
						}
				.pg-empresa .areaEspecialista .btn{
					text-align: center;
					width: 100%;
					display: block;
					margin-top: 50px;
				}
					.pg-empresa .areaEspecialista .btn button{
						background: transparent;
						border: 1px solid;
						font-size: 30px;
						margin:5px;
						color: #263980;
						padding: 0px 20px;
						border-radius: 5px;
						outline: none;
					}
						.pg-empresa .areaEspecialista .btn button:hover{
							background: #263980;
							color: #fff;
						}
		.pg-empresa	.areaQuemSomos{
			min-height: 550px;
			background-size: cover!important;
			background-position: center!important;
			background-attachment: fixed!important;
			padding: 30px 10px 10px 10px;
			margin-bottom: 50px;
			
		}
			.pg-empresa	.areaQuemSomos h6{
				text-align: left;
				margin-bottom: 25px;
				color: #939598;
			}
			.pg-empresa	.areaQuemSomos p{
				color: #939598;
				font-size: 15px;
				max-width: 590px;
				line-height: 28px;
			}
			.pg-empresa	.areaQuemSomos .link{
				display: block;
				width: 100%;
				max-width: 245px;
				height: 50px;
				text-align: center;
				background: #606ec2;
				color: #fff;
				text-transform: uppercase;
				font-size: 16px;
				border-radius: 5px;
				font-weight: 600;
				line-height: 50px;
				border: solid 1px transparent;
				margin-top:25px; 
			}
				.pg-empresa	.areaQuemSomos a:hover{
					background: transparent;
					color: #606ec2;
					border-color: #606ec2;
				}
			.pg-empresa .paginadorLink{
				margin: 0;
				margin-bottom: 30px;
			}

/* PÁGIANA DE TRATAMENTOS */
	.pg-tratamentos{

	}
		.pg-tratamentos .banner{
			width: 100%;
			height: 275px;
			background-position: center!important;
			background-size:cover!important; 
		}
		.pg-tratamentos .tramentos{
			padding-top: 50px;
			max-width: 1030px;
			margin: 0 auto;
		}
			.pg-tratamentos .tramentos aside{
		
			}
			.tratamentosSidebar  aside> button{
				display: none;
				content: "X";
				text-align: center;
				border-radius: 100%;
				border: solid 2px #606ec2;
				width: 40px;
				height: 40px;
				margin: 0 auto 15px;
				font-size: 25px;
				font-weight: 700;
				color: #606ec2;
				margin-top: 20px;
				outline: none;
				background: transparent;
			}
				.pg-tratamentos .tramentos aside a{
				text-decoration: none;
				}
				.pg-tratamentos .tramentos aside h3{
					display: block;
					color: #939598;
					font-size: 16px;
					width: 100%;
					max-width: 264px;
					height: 50px;
					border-radius: 5px;
					background: transparent;
					text-transform: uppercase;
					line-height: 50px;
					transition:All .5s ease;
					-webkit-transition:All .5s ease;
					-moz-transition:All .5s ease;
					-o-transition:All .5s ease;
					margin: 0 0 5px;
				}
					.pg-tratamentos .tramentos aside h3:hover{
						color: #fff;
						background: #606ec2;
						padding-left: 15px;
						transition:All .5s ease;
						-webkit-transition:All .5s ease;
						-moz-transition:All .5s ease;
						-o-transition:All .5s ease;
					}
					.pg-tratamentos .tramentos aside .ativo{
						color: #fff;
						background: #606ec2;
						padding-left: 15px;
					}
					.pg-tratamentos .tramentos aside h3 i{
						float: right;
						margin-top: 17px;
						margin-right: 15px;
						opacity: 0;
						transition:All .1s ease;
						-webkit-transition:All .1s ease;
						-moz-transition:All .1s ease;
						-o-transition:All .1s ease;

					}
						.pg-tratamentos .tramentos aside h3:hover i{
							opacity: 1;
							transition:All .1s ease;
							-webkit-transition:All .1s ease;
							-moz-transition:All .1s ease;
							-o-transition:All .1s ease;

						}
						.pg-tratamentos .tramentos aside .ativo i{
							opacity: 1;
						}
			.pg-tratamentos .tramentos article{
				padding:0 10px;
				width: 100%;
				max-width: 740px;
				margin: 0 auto;
				display: block;
				color: #818181;
			}
				.pg-tratamentos .tramentos article li{
					margin-bottom: 10px;
					line-height: 25px;
				}
				.pg-tratamentos .tramentos article h1{
					font-size: 30px;
					color: #747474;
					margin: 0;
				}	
				.pg-tratamentos .tramentos article h2{
					font-size: 22px;
					color: #606ec2;
				}
				.pg-tratamentos .tramentos article h2,h3,h4,h5,h6{
					color: #606ec2;
				}
				.pg-tratamentos .tramentos article p{
					color: #818181;
					font-size: 14px;
					line-height: 25px;
				}
		.pg-tratamentos .galeriaImagens{
			border: solid 1px #ecece8;
			border-radius: 5px;
			padding: 20px;
			margin-top:50px; 
			margin-bottom:50px; 
			position: relative;
		}
			.pg-tratamentos .galeriaImagens figure{
				display: block;
				width: 100%;
				max-width: 150px;
				height:auto;
				padding: 0 5px;
				margin: 0 auto;
			}
				.pg-tratamentos .galeriaImagens figure img{
					display: block;
					width: 100%;
					max-width: 100%;
					height: auto;
				}
		.pg-tratamentos .btnCarrossel{
			

		}
			.pg-tratamentos .btnCarrossel button{
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				z-index: 999;
				background: #fff;
				border: solid 1px #ccc;
				border-radius: 100%;
				width: 30px;
				height: 30px;
				text-align: center;
				line-height: 30px;
				font-size: 20px;
				outline:none;
			}
			.pg-tratamentos .btnCarrossel #carrosselFotosGaleriaRight{
				right: 10px;
			}
			.pg-tratamentos .btnCarrossel #carrosselFotosGaleriaLeft{
				left: 10px;
			}

/* PÁGINA BLOG */
	.pg-blog{

	}
		.pg-blog .sessaoPost{
			padding-top: 50px;
		}
			.pg-blog .sessaoPost a{
				display: block;
				width: 100%;
				max-width: 755px;
				margin: 0 auto;
				text-decoration: none;
				border-bottom: solid 1px #ccc;
				padding-bottom: 30px;
				margin-bottom: 50px;
			}
				.pg-blog .sessaoPost a figure{
					display: block;
					width: 100%;
					height: 272px;
					background-size: cover!important;
					background-position: center!important;
				}	
				.pg-blog .sessaoPost a h2{
					font-size:30px;
					color: #747474;
					margin-top: 55px;
					margin-bottom:17px;
				}
				.pg-blog .sessaoPost a span{
					display: block;
					color: #5865b2;
					font-weight: 500;
					margin-bottom: 25px;
				}
				.pg-blog .sessaoPost a p{
					color: #818181;
					font-size: 14px;
					line-height: 24px;
					font-weight: 500;
					margin-bottom: 30px;
				}
				.pg-blog .sessaoPost a small{
					font-size: 16px;
					color: #8ece0a;
					display: block;
					font-weight: 500;
				}
			.pg-blog .sessaoPost figure{
		
			}
				.pg-blog .sessaoPost article{
		
				}
					.pg-blog .sessaoPost article h6{
		
					}

/* PÁGINA DE CONTATO */
	.pg-contato{
		
	}
		.background{
			background: #fafaf6;
			padding-bottom: 50px;
			margin-top: 50px;
			border-top: #ecece8;
		}
		.pg-contato .sessaoContato{
		
		}
			.pg-contato .sessaoContato .form{
				width: 100%;
				max-width: 755px;
				margin: 0 auto;
				padding-top: 50px;
			}
				.pg-contato .sessaoContato .form .left{
					padding-right: 10px;
				}
				.pg-contato .sessaoContato .form .right{
					padding-left: 10px;
				}
				.pg-contato .sessaoContato .form input{
					display: block;
					width: 100%;
					height: 40px;
					padding: 10px;
					border-radius: 5px;
					border: solid 1px #ecece8;
					font-size: 14px;
					color: #9a9a9a;
					outline: none;
					margin-bottom: 15px;
				}
					.pg-contato .sessaoContato .form input::-webkit-input-placeholder { /* Chrome, Safari, Opera */
						color: #9a9a9a;
						font-size: 14px; 
					}

					.pg-contato .sessaoContato .form input:-moz-placeholder { /* Firefox 18- */
						color: #9a9a9a;
						font-size: 14px;
					}

					.pg-contato .sessaoContato .form input::-moz-placeholder {  /* Firefox 19+ */
						color: #9a9a9a;
						font-size: 14px;
					}

					.pg-contato .sessaoContato .form input:-ms-input-placeholder { /* IE10+ */ 
						color: #9a9a9a;
						font-size: 14px;
					}
				.pg-contato .sessaoContato .form select{
					display: block;
					width: 100%;
					height: 40px;
					padding: 10px;
					border-radius: 5px;
					border: solid 1px #ecece8;
					font-size: 14px;
					color: #9d9d9d;
					outline: none;
					margin-bottom: 15px;
				}
				.pg-contato .sessaoContato .form textarea{
					display: block;
					width: 100%;
					max-width: 100%;
					height: 210px;
					min-height: 210px;
					max-height: 210px;
					padding: 10px;
					border-radius: 5px;
					border: solid 1px #ecece8;
					font-size: 14px;
					color: #9d9d9d;
					outline: none;
					margin-bottom: 15px;
				}

					.pg-contato .sessaoContato .form textarea::-webkit-input-placeholder { /* Chrome, Safari, Opera */
						color: #9a9a9a;
						font-size: 14px; 
					}

					.pg-contato .sessaoContato .form textarea:-moz-placeholder { /* Firefox 18- */
						color: #9a9a9a;
						font-size: 14px;
					}

					.pg-contato .sessaoContato .form textarea::-moz-placeholder {  /* Firefox 19+ */
						color: #9a9a9a;
						font-size: 14px;
					}

					.pg-contato .sessaoContato .form textarea:-ms-input-placeholder { /* IE10+ */ 
						color: #9a9a9a;
						font-size: 14px;
					}
				.pg-contato .sessaoContato .form input[type="submit"]{
					background: #606ec2;
					color: #fff;
					text-transform: uppercase;
					max-width: 110px;
					text-align: center;
				}
	.single .form{
				width: 100%;
				max-width: 755px;
				margin: 0 auto;
				padding-top: 50px;
			}
			.single .form>span{
				font-weight: 700;
				font-size: 35px;
				display: block;
				text-align: left;
				color: #606ec2;
			}
			.single .form>span a{
				font-size: 20px;
				background: #0dc043;
				color: #fff;
				text-decoration: none;
				padding: 10px 15px;
				border-radius: 5px;
				width: 235px;
				display: none;
				text-align: left;
			}
				.single .form>span a i{
					float: right;
					font-size: 28px;
				}
				.single .form .left{
					padding-right: 10px;
				}
				.single .form .right{
					padding-left: 10px;
				}
				.single .form input{
					display: block;
					width: 100%;
					height: 40px;
					padding: 10px;
					border-radius: 5px;
					border: solid 1px #9a9a9a;
					font-size: 14px;
					color: #9a9a9a;
					outline: none;
					margin-bottom: 15px;
				}
					.single .form input::-webkit-input-placeholder { /* Chrome, Safari, Opera */
						color: #9a9a9a;
						font-size: 14px; 
					}

					.single .form input:-moz-placeholder { /* Firefox 18- */
						color: #9a9a9a;
						font-size: 14px;
					}

					.single .form input::-moz-placeholder {  /* Firefox 19+ */
						color: #9a9a9a;
						font-size: 14px;
					}

					.single .form input:-ms-input-placeholder { /* IE10+ */ 
						color: #9a9a9a;
						font-size: 14px;
					}
				.single .form select{
					display: block;
					width: 100%;
					height: 40px;
					padding: 10px;
					border-radius: 5px;
					border: solid 1px #9a9a9a;
					font-size: 14px;
					color: #9d9d9d;
					outline: none;
					margin-bottom: 15px;
				}
				.single .form textarea{
					display: block;
					width: 100%;
					max-width: 100%;
					height: 210px;
					min-height: 210px;
					max-height: 210px;
					padding: 10px;
					border-radius: 5px;
					border: solid 1px #9a9a9a;
					font-size: 14px;
					color: #9d9d9d;
					outline: none;
					margin-bottom: 15px;
				}

					.single .form textarea::-webkit-input-placeholder { /* Chrome, Safari, Opera */
						color: #9a9a9a;
						font-size: 14px; 
					}

					.single .form textarea:-moz-placeholder { /* Firefox 18- */
						color: #9a9a9a;
						font-size: 14px;
					}

					.single .form textarea::-moz-placeholder {  /* Firefox 19+ */
						color: #9a9a9a;
						font-size: 14px;
					}

					.single .form textarea:-ms-input-placeholder { /* IE10+ */ 
						color: #9a9a9a;
						font-size: 14px;
					}
				.single .form input[type="submit"]{
					background: #606ec2;
					color: #fff;
					text-transform: uppercase;
					max-width: 110px;
					text-align: center;
				}
	.descriptionTratamento{
      max-width: 700px;
	    margin: 0 auto;
	}
		.descriptionTratamento h3{
			text-align: center;
			color: #747474;
			margin-bottom: 35px;
			margin-top: 45px;
		}
		.descriptionTratamento .tratamentoDescription{
			color: #939598;
			font-size: 15px;
			line-height: 28px;
			margin: 0 auto;
			text-align: right;
			font-family: 'open_sansregular';
		}
			.descriptionTratamento aside{
				margin: 0 auto;
				max-width: 210px;
				border-left: solid 1px #606ec2;
				padding: 0px;
				padding-left: 30px;
			    min-height: 312px;
			    padding-top: 10px;
			}
				.descriptionTratamento aside a{
					display: block;
					color: #939598;
					font-size: 17px;
					font-weight: 400;
					margin-bottom: 16px;
					font-family: 'open_sansregular';
				}
/* EXTRAS */
	.btnVertratamentos{
		display: none;
	}
	.btnAgendar{
		position: fixed;
		right: 10px;
		bottom: 75px;
    	z-index: 9;

	}
	.btnAgendar a{
		font-size: 5px;
	    background: #0dc043;
	    color: #fff;
	    text-decoration: none;
	    padding: 10px 13px;
	    border-radius: 100%;
	    display: inline-block;
	    width: 55px;
	    height: 55px;
	    text-align: center;
	    line-height: 53px;
	    position: relative;
	    display: none;
	}
	.btnAgendar span{
		position: absolute;
		background: #0dc043;
		left: -321px;
		padding-left: 15px;
		padding-right: 58px;
		top: 6px;
		display: inline-block;
		width: 371px;
		border-radius: 5px;
		display: none;
		opacity: 0;
	}
		/* .btnAgendar:hover span{
			display: block;
		} */
		.btnAgendar:hover span{
			 transition-delay: 5s;
			opacity: 1;
			transition:All .1s ease;
			-webkit-transition:All .1s ease;
			-moz-transition:All .1s ease;
			-o-transition:All .1s ease;
		}
		.btnAgendar a i{
			font-size: 35px;
			position: relative;
		}
	.home .menu-item-76 a{
		background: #606ec2;
		color: #fff;
	}
	.menu-item-73{

	}
	.single-tratamento .menu-item-77 a{
		background: #606ec2;
		color: #fff
	}
	.blog .menu-item-75 a{
		background: #606ec2;
		color: #fff
	}
	.single-post .menu-item-75 a{
		background: #606ec2;
		color: #fff
	}
	.page-template-contato .menu-item-74 a{
		background: #606ec2;
		color: #fff
	}
	.telefoneLigar{
		
	}
		.telefoneLigar a{
			background: #0dc043;
			position: fixed;
			bottom: -100%;
			display: block;
			width: 100%;
			text-align: center;
			color: #fff;
			padding: 5px 10px;
			font-size: 20px;
			z-index: 9;
			transition: All .5s ease;
			-webkit-transition: All .5s ease;
			-moz-transition: All .5s ease;
			-o-transition: All .5s ease;
		}
/* @MEDIA */
	@media (max-width: 1200px) {
		.container{
			width: 100%;
			padding:0 10px;	
		}
		.pg .areaContato .areaContatoTelefone a{
			font-size: 17px;
		}
		.pg-inicial .sessaoAgendamento .col-sm-6{
			padding: 0 10px;
		}
		.pg .sessaoNossasSedes .nossassedes .col-sm-4{
			padding: 0 10px;
		}
		.pg-inicial .sessaoBlog .blogPost .col-sm-4{
			padding: 0 10px;
		}
	}
	@media (max-width: 991px){
		.pg .areaContato .areaContatoTelefone{
			margin: 0;
		}
		.pg .areaAgendar .area p{
			font-size: 25px;
		}
		.pg-inicial .sessaoBlog .blogPost a h2,.pg-inicial .sessaoBlog .blogPost a p,.pg-inicial .sessaoBlog .blogPost span{
			padding: 0 10px;
		}

	}
	@media (max-width: 767px){
		.pg-tratamentos .tramentos article{
			padding: 0 20px;
		}
		.pg-contato .sessaoContato .form{
		    padding: 50px 20px 0;
		}
		.pg-empresa .areaQuemSomos{
		    padding: 30px 20px;
		}
		.pg-inicial .sessaoAgendamento .formAgendamento .areaCheckbox span.wpcf7-list-item{
			display: inline-block;
			margin: 0;
			width: 100%;
			vertical-align: top;
			position: relative;
			max-width: 78px;
		}
		.pg-inicial .sessaoAgendamento .formAgendamento p,section>h2{
			font-size: 23px;
		}
		.pg-inicial .sessaoDestaque .item .textoDestaque{
			padding: 10px 20px;
		}
		section>h1{
			font-size: 25px;
		}
		.pg .sessaoPlanosSaude{
			padding: 0 20px;
		}
		.pg-inicial .sessaoAgendamento .formAgendamento input{
			width: 100%;
		}
		.pg-inicial .sessaoAgendamento .formAgendamento input[type="checkbox"]{
			opacity: 1;
		}
		.pg-inicial .sessaoAgendamento .formAgendamento .areaCheckbox span.wpcf7-list-item-label::before{
			display: none;
		}
		.pg-inicial .sessaoAgendamento .formAgendamento .areaCheckbox span.wpcf7-list-item-label::after{
			display: none;
		}
		.descriptionTratamento .tratamentoDescription{
			text-align: center;
			padding: 0 20px;
		}
		.navbar-nav>li>ul {
			position: relative;
			top: initial;
			text-align: left;
			background: #e4e4e4;
			left: initial;
			padding-left: 30px;
			max-width: 97%;
			margin: 0 auto;
			top: -5px;
			width: 100%;
			height: 217px;
			overflow-y: scroll;
		}
		.rodape .mapaSite.termos span{
		    margin: 0 auto;
	        padding-bottom: 30px;
		}
		.btnCarrossel{
			display: none;
		}
		.pg .sessaoPlanosSaude .tituloPlanos p{
			text-align: center;
		}
		.logosAtendimento{
			text-align: center;
		}
		.telefoneLigar a.linkopen{
			bottom: 0;
			transition: All .5s ease;
			-webkit-transition: All .5s ease;
			-moz-transition: All .5s ease;
			-o-transition: All .5s ease;
		}
		.rodape .redesocial a{
			position: relative;
			top: -10px;
		}
		.btnAgendar a{
			display: block;
		}
		.single .form>span a{
			display: inline-block;
		}
		.pg-tratamentos .paginador .col-xs-6{
			padding: 0 5px;
		}
		.pg-empresa .areaQuemSomos{
		    background-attachment: initial!important;
		}
		.single .form .left{
			padding-right: 0;
		}
		.single .form .right{
			padding-left: 0;
		}
		.tratamentosSidebar  aside> button{
			display: block;
		}
		.tratamentosSidebar{
			left: -110%;
			position: fixed;
			top: 0;
			background: #fff;
			width: 100%;
			height: 100vh;
			z-index: 999;
			transition: All .5s ease;
			-webkit-transition: All .5s ease;
			-moz-transition: All .5s ease;
			-o-transition: All .5s ease;
		}
		.tratamentosSidebar.tratamentoOpen{
			left: 0%;
			transition: All .5s ease;
			-webkit-transition: All .5s ease;
			-moz-transition: All .5s ease;
			-o-transition: All .5s ease;
		}
		.btnVertratamentos{
			display: block;
			margin: 33px auto;
			display: block;
			background: #5865b2;
			color: #fff;
			font-size: 25px;
			padding: 15px 33px;
			border-radius: 5px;
			border: none;
		}
		.pg .paginadorLink{
			display: none;
		}
		.topo .logo img {
		    max-width: 175px;
		}
		.topo .row.navbar-header{
			display: none;
		}
		.topo .navbar button{
			display: block;
		}
		.topo nav ul li{
			display: block;
			text-align: left;
		}
		.topo{
			padding: 10px 10px 5px;
		}
		.topo .navbar{
			margin: 0;
		}
		.pg .areaContato{
			display: none;
		}
		.pg-inicial .sessaoDestaque .item{
			height: 320px;
		}
		.pg-inicial .sessaoDestaque .item .textoDestaque{
			padding-top: 40px;
		}
		.pg-inicial .sessaoDestaque .item .textoDestaque h2{
			font-size: 25px;
		}
		.pg-inicial .sessaoAgendamento .formAgendamento{
			max-width: 100%;
			margin: 10px 0;
		}
		.pg-inicial .sessaoAgendamento .formAgendamento select{
			max-width: 100%;
		}
		.pg .areaAgendar .area p{
			text-align: center;
		}
		.pg .areaAgendar .area{
			text-align: center!important;
		}
		.pg .sessaoNossasSedes .nossassedes .enderecos{
			max-width: 100%;
			margin: 10px 0;
		}
		.pg-inicial .sessaoBlog .blogPost a{
			margin: 20px auto;
		}
		.pg-inicial .sessaoBlog{
    		padding-bottom: 0px;
		}
		.rodape .mapaSite{
			text-align: center;
		}
		.rodape .mapaSite small{
			max-width: 100%;
		}
		.copyright .col-sm-6{
			text-align: left!important;
		}
		rodape .redesocial{
			text-align: right;
			vertical-align: top;
		}
		
		.pg .areaAgendar .area.segundaopcao p{
			font-size: 25px;
		}
		.pg-inicial .sessaoAgendamento .col-sm-6,.container{
			padding: 0;
		}
		.copyright,.pg-blog .sessaoPost a{
			padding: 10px;
		}
		.copyright, .pg-blog .sessaoPost a{
			text-align: center;
		}
		.pg-blog .sessaoPost a h2{
			font-size: 25px;
		}
		.pg-tratamentos .tramentos aside{
			text-align: center;
			border-bottom: solid 1px #ccc;
			padding-top: 20px;
		}
		.pg-tratamentos .tramentos aside::-webkit-scrollbar{
			background:#fff;width:4px;
		}
		.pg-tratamentos .tramentos aside::-webkit-scrollbar-thumb{
			background:#666;
			-webkit-border-radius:2px;
		}
		.pg-tratamentos .tramentos{
			padding: 0;
		}
		 .pg-tratamentos .tramentos aside h3{
		    margin: 0 auto 5px;
		    max-width: 90%;
		}
		.pg-inicial .sessaoAgendamento .formAgendamento .enderecosContato strong{
			display: block;
		}
		.pg .paginador a{
			font-size: 14px;
		}
		.pg-tratamentos .tramentos article h1{
			text-align: center;
			margin: 35px 0;
		}
		.pg-contato .sessaoContato{
			padding: 10px;
		}
		.pg-contato .sessaoContato .form .right,.pg-contato .sessaoContato .form .left{
			padding: 0;
		}
		.pg-inicial .sessaoDestaque{
			margin-bottom: 25px;
		}
		.pg .sessaoPlanosSaude #carrosselPlanosSaude{
		    margin-top: 0px;
		}
		.pg-inicial .sessaoAgendamento{
		    margin-top: 0px;
		}
		.pg-inicial .sessaoAgendamento .formAgendamento .form{
		    padding-bottom: 0px;
		}
		.pg-inicial .sessaoAgendamento .formAgendamento{
		    margin: 0px 0;
		}
		.pg-inicial .sessaoServicos{
			padding-top: 30px;
			margin-top: 45px;
		}
		
		.pg-inicial .sessaoServicos .carroselServicos{
		    padding: 10px 20px;
		}
		.pg-inicial .sessaoServicos .carroselServicos div.areaServico{
			max-width: 49%;
			margin: 30px 0px;
		}
		.pg-inicial .sessaoServicos .carroselServicos div.areaServico a h2{
			font-size: 18px;
		}
		.pg .sessaoNossasSedes,.pg-inicial .sessaoBlog .blogPost{
		    padding: 55px 20px 0;
		}

	}
	
